# Ignorer le dossier node_modules
node_modules/

# Ignorer les logs
*.log

# Ignorer les variables d'environnement
.env

# Ignorer les fichiers de cache
.cache/
.npm/

# Ignorer les fichiers de développement
*.ts
*.map
*.md
