@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes swing { 
	20% { transform: rotate(15deg); } 
	40% { transform: rotate(-10deg); } 
	60% { transform: rotate(5deg); } 
	80% { transform: rotate(-5deg); } 
	100% { transform: rotate(0deg); } 
 }

 @keyframes moving-border {
	0% {
	  background-position: 0% 50%;
	}
	100% {
	  background-position: 100% 50%;
	}
  }
  
  #animated-border {
	border-width: 1px;
	border-style: solid;
	animation: moving-border 3s linear infinite;
	background: linear-gradient(
	  90deg,
	  amber,
	  yellow,
	  amber
	);
	background-size: 200% 200%;
	border-image-slice: 1;
	border-image-source: linear-gradient(
	  90deg,
	  amber,
	  yellow,
	  amber
	);
  }

.newChatBox {

	display: grid;
	grid-template-rows: 8% 1fr 15%;
	grid-template-columns: 30% 1fr;
}

.newMenu {
	grid-area: 1 / 1 / span 1 / span 2;
}

.newNav {
	display: grid;
	grid-area: 2 / 1 / span 2 / span 1;
	grid-template-rows: 10% 1fr;
	grid-template-columns: 1fr;
}

.newNavMenu {
	grid-area: 1 / 1 / span 1 / span 1;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr;
}

.newNavOne {
	grid-area: 1 / 1 / span 1 / span 1;
}

.newNavTwo {
	grid-area: 1 / 2 / span 1 / span 1;

}

.newNavThree {
	grid-area: 1 / 3 / span 1 / span 1;

}

.newNavMain {

	grid-area: 2 / 1 / span 1 / span 1;
}

.newMain, .MainChat, .MainFriends, .MainNotif {
	grid-area: 2 / 2 / span 2 / span 1;
}

.newMessage {
	grid-area: 3 / 2 / span 1 / span 1;
}
